@import "mixvar.styl"
*
  margin 0
  padding 0
  box-sizing border-box
html, body
  height: 100%;
  mp(0,0)
  {oh}
html
  font-size 10px
body
  overflow auto
#t1000
  bl(100%,1000px)
#wrap
  {wrapp}
  min-height 100%
  pb fPa
  +med(tab)
    pb fPaT
  +med(mob_h)
    pb fPaH
  +med(mob_v)
    pb fPaV
#footer_wrap
  bl(100%,fPa)
  {posa}
  b 0
  l 0
  {oh}
  +med(tab)
    bl(100%,fPaT)
  +med(mob_h)
    bl(100%,fPaH)
  +med(mob_v)
    bl(100%,fPaV)
.wrap
  {wrapp}
.sw
  width 100rem
.clear
  bl(100%,c:both)
.mauto
  {mauto}
.mautota
  {mautota}
.ta_just
  text-align justify
  > *
    display inline-block
  &:after
    content ''
    display inline-block
    width 100%
.tac,.ta_c
  {tac}
.tar,.ta_r
  {tar}
.tal,.ta_l
  {tal}
.ttn
  {ttn}
.ttl
  {ttl}
.ttu
  {ttu}
.ttc
  {ttc}
.vam
  {vam}
.vat
  {vat}
.vab
  {vab}
p
  font(1.4rem)
a
  {tdn}
ul,li
  list-style-type none
