@import "mixvar.styl"
*
  margin 0
  padding 0
  box-sizing border-box
html, body
  height 100%
  mp(0,0)
html
  font-size 10px
body
  overflow auto
#t1000
  blok(100%,1000px)
#wrap
  {wrapp}
  min-height 100%
  padding-bottom footerPad
#footer_wrap
  blok(100%,footerPad)
  pos(b:0,l:0)
  {oh}
.wrap
  {wrapp}
.sw
  width 100rem
.clear
  blok(100%,c:both)
.mauto
  {mauto}
.mautota
  {mautota}
.ta_just
  text-align justify
  > *
    display inline-block
  &:after
    content ''
    display inline-block
    width 100%
.tac,.ta_c
  {tac}
.tar,.ta_r
  {tar}
.tal,.ta_l
  {tal}
.ttn
  {ttn}
.ttl
  {ttl}
.ttu
  {ttu}
.ttc
  {ttc}
.vam
  {vam}
div,ul
  list-style-type none
p
  font(1.4rem)
a
  {tdn}
ul,li
  list-style-type none
